<link rel="stylesheet" href="/stylesheets/partials.css" />
<nav>
    <a href="/"><img src="svg/home-svgrepo-com.svg" alt="Home " class="img-small"><span>Home</span></a>
    <% if (user) { %>
        <a href="/vinyls"><img src="logos/VinylVaultNoText.png" alt="VinylVault Logo " class="img-small"><span>My Collection</span></a>
        <a href="/vinyls/wishlist"><img src="svg/heart-liked-svgrepo-com.svg" alt="Wishlist " class="img-small"><span>Wishlist</span></a>
        <a href="/vinyls/new"><img src="svg/add-ellipse-svgrepo-com.svg" alt="Add Vinyl " class="img-small"><span>Add Vinyl</span></a>
        <a href="/users"><img src="svg/community-group-public-svgrepo-com.svg" alt="Community " class="img-small"><span>Community</span></a>
        <a href="/users/<%= user._id %>"><img src="svg/profile-1341-svgrepo-com.svg" alt="My Profile " class="img-small"><span>My Profile</span></a>
        <a href="/auth/sign-out"><img src="svg/logout-svgrepo-com.svg" alt="Logout " class="img-small"><span>Logout</span></a>
    <% } else { %>
        <a href="/auth/sign-in"><img src="svg/login-svgrepo-com.svg" alt="Sign In " class="img-small"><span>Sign In</span></a>
        <a href="/auth/sign-up"><img src="svg/sign-in-svgrepo-com.svg" alt="Sign Up " class="img-small"><span>Sign Up</span></a>
    <% } %>
</nav>