<nav>
    <a href="/"><img src="/svg/home-svgrepo-com.svg" alt="Home " class="icon-small"><span>Home</span></a>
    <% if (user) { %>
        <a href="/vinyls"><img src="/logos/VinylVaultNoText.png" alt="VinylVault Logo " class="icon-small"><span>My Collection</span></a>
        <a href="/vinyls/wishlist"><img src="/svg/heart-liked-svgrepo-com.svg" alt="Wishlist " class="icon-small"><span>Wishlist</span></a>
        <a href="/vinyls/new"><img src="/svg/add-ellipse-svgrepo-com.svg" alt="Add Vinyl " class="icon-small"><span>Add Vinyl</span></a>
        <a href="/users"><img src="/svg/community-group-public-svgrepo-com.svg" alt="Community " class="icon-small"><span>Community</span></a>
        <a href="/users/<%= user._id %>"><img src="/svg/profile-1341-svgrepo-com.svg" alt="My Profile " class="icon-small"><span>My Profile</span></a>
        <a href="/auth/sign-out"><img src="/svg/logout-svgrepo-com.svg" alt="Logout " class="icon-small"><span>Logout</span></a>
    <% } else { %>
        <a href="/auth/sign-in"><img src="/svg/login-svgrepo-com.svg" alt="Sign In " class="icon-small"><span>Sign In</span></a>
        <a href="/auth/sign-up"><img src="/svg/sign-in-svgrepo-com.svg" alt="Sign Up " class="icon-small"><span>Sign Up</span></a>
    <% } %>
</nav>